{% load static %}
<footer class="footer"
        data-url="/on/demandware.store/Sites-shopDisney-Site/default/Page-Footer?pageAction=Search-Show">
        <div class="layout--fullWidth">
            <div class="module__tiles module__tiles--visa"
                data-tealium-contentslotimpression="{&quot;id&quot;:[&quot;2021fall-visaFooter&quot;],&quot;images&quot;:[&quot;CardArray_1600x393&quot;]}">
                <div class="module__tile">
                    <a target="_self" href="https://www.shopdisney.com/disney-visa-card.html?CELL=63NG06"
                        class="fluid-container" data-linkid="footer\footer module\drvc module\drvc 2021fall-visaFooter"
                        data-events="event31" title="">
                        <div class="module__tile_image_container">
                            <picture>
                                <img src="{% static 'catalog/images/CardArray_1600x393.webp' %}" title="" tmp_title="">

                            </picture>
                        </div>
                        <div class="module__tile_text module__tile_text_container module__tile_text--mc">
                            <p class="module__tile_pretext">New Disney® Visa® Cardmembers can earn a</p>
                            <h3 class="module__tile_headline"><span class="currency">$</span><span class="amount"><span
                                        style="display: inline-block">100</span></span> Statement Credit</h3>
                            <span class="module__tile_text_info_sub">Restrictions apply.</span>
                            <button role="link" type="button" data-button-outline="fff" style="" class="button--text">
                                <span>Learn More</span>
                            </button>
                        </div><!-- end /module__tile_text -->
                    </a>
                </div>
            </div><!-- end /module__tiles -->
        </div>
        <div class="main-container">
            <div class="footer-container row no-gutters">
                <div class="footer-item col-sm-12 col-lg-4 social">
                    <div class="content-asset">
                        <ul class="primary-links">
                            <li><a href="https://www.shopdisney.com/store-locator">Store Locator</a></li>
                            <li><a href="https://help.shopdisney.com/hc/en-us">Guest Services</a></li>
                            <li><a href="https://help.shopdisney.com/hc/en-us/articles/115015912428-Contact-Us">Contact
                                    Us</a></li>
                            <li><a href="https://www.shopdisney.com/secure/account">Account Info</a></li>
                            <li><a href="https://www.shopdisney.com/disney-visa-card.html?CELL=63NG06"
                                    drvc-cc-desktop="63NG06" drvc-cc-mobile="63TH06" drvc-cc-app="6HS106"
                                    drvc-cc-track="" title=""
                                    drvc-orig-url="https://www.shopdisney.com/disney-visa-card.html">Disney® Visa®
                                    Card</a></li>
                            <li><a href="#"></a>
                                <button class="btn btn-primary signup-btn" type="button" data-toggle="modal"
                                    data-target="#signupModal"
                                    style="background:none; border:none; color: #222; padding:0" "="">Stay in Touch</button>
               </li>
        </ul>
            </div>
                    <div class=" footer-social-container">
                                    <div class="content-asset">
                                        <!-- dwMarker="content" dwContentID="7ba1f856779af1bc53f27f9852" -->
                                        <div class="newsletter-container hidden-md-down">
                                            <div class="newsletter-container__message">Sign up for our emails to get the
                                                inside scoop on special offers and new products.</div>
                                            <div class="newsletter-container__signup">
                                                <button class="btn btn-primary signup-btn"
                                                    data-linkid="footer/social/email/signup" data-events="event31">Sign
                                                    up</button>
                                                <div class="privacy-policy">
                                                    <span class="privacy-policy__message">Stay in Touch</span><br>
                                                    <a class="privacy-policy__link"
                                                        data-linkid="footer/social/privacy policy/Privacy Policy"
                                                        data-events="event31"
                                                        href="https://privacy.thewaltdisneycompany.com/en/"
                                                        target="_blank">Privacy Policy</a>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-asset">
                                        <div class="social-icons-container">
                                            <ul class="flex-display">
                                                <li><a data-linkid="footer/social/facebook/facebook"
                                                        data-events="event31"
                                                        href="https://www.facebook.com/shopdisney/" target="_blank">
                                                        <svg class="social-icon viewBox=" 0="" 26="" 22"="">
                                                            <use xlink:href="#facebook_ic"></use>
                                                        </svg></a></li>
                                                <li><a data-linkid="footer/social/instagram/instagram"
                                                        data-events="event31"
                                                        href="https://www.instagram.com/shopdisney/" target="_blank">
                                                        <svg class="social-icon viewBox=" 0="" 26="" 22"="">
                                                            <use xlink:href="#instagram_ic"></use>
                                                        </svg></a></li>
                                                <li><a data-linkid="footer/social/twitter/twitter" data-events="event31"
                                                        href="https://twitter.com/shopdisney/" target="_blank">
                                                        <svg class="social-icon viewBox=" 0="" 26="" 22"="">
                                                            <use xlink:href="#twitter_ic"></use>
                                                        </svg></a></li>
                                                <li><a data-linkid="footer/social/pintrest/pintrest"
                                                        data-events="event31"
                                                        href="https://www.pinterest.com/shopdisney/" target="_blank">
                                                        <svg class="social-icon viewBox=" 0="" 26="" 22"="">
                                                            <use xlink:href="#pinterest_ic"></use>
                                                        </svg></a></li>
                                            </ul>
                                        </div>
                                    </div>
                    </div>
                </div>
                <div class="footer-item col-sm-12 col-lg-8 menus">
                    <div class="footer-menu-container flex-display hidden-md-down">
                        <div class="category-container">
                            <div class="content-asset">
                                <nav>
                                    <ul>
                                        <li><a data-linkid="footer/navigation/category/Disney Movies &amp; Shows"
                                                data-events="event31" href="https://www.shopdisney.com/characters.html"
                                                title="">Characters</a></li>
                                        <li><a data-linkid="footer/navigation/category/Parks" data-events="event31"
                                                href="https://www.shopdisney.com/disney-parks/">Parks</a></li>
                                        <li><a data-linkid="footer/navigation/category/Disney" data-events="event31"
                                                href="https://www.shopdisney.com/franchises/disney/">Disney</a></li>
                                        <li><a data-linkid="footer/navigation/category/Pixar" data-events="event31"
                                                href="https://www.shopdisney.com/franchises/pixar/">Pixar</a></li>
                                        <li><a data-linkid="footer/navigation/category/Star Wars" data-events="event31"
                                                href="https://www.shopdisney.com/franchises/star-wars/" title="">Star
                                                Wars</a></li>
                                        <li><a data-linkid="footer/navigation/category/Marvel" data-events="event31"
                                                href="https://www.shopdisney.com/franchises/marvel/">Marvel</a></li>
                                        <li><a data-linkid="footer/navigation/category/National Geographic"
                                                data-events="event31"
                                                href="https://www.shopdisney.com/franchises/national-geographic/"
                                                title="">National Geographic</a></li>
                                    </ul>
                                </nav>
                            </div> <!-- End content-asset -->
                        </div>
                        <div class="links-container flex-display">


                            <div class="content-asset">
                                <!-- dwMarker="content" dwContentID="1be99361363c4e342a413565b8" -->
                                <nav>
                                    <ul>
                                        <li><a data-linkid="footer/footer_pages/column1/D23" data-events="event31"
                                                href="https://www.shopdisney.com/d23-the-official-disney-fan-club/">D23</a>
                                        </li>
                                        <li><a data-linkid="footer/footer_pages/column1/Careers" data-events="event31"
                                                href="https://jobs.disneycareers.com/category/disney-store-jobs/391-1635/2476/1">Careers</a>
                                        </li>
                                        <li><a data-linkid="footer/footer_pages/column1/Contact Us"
                                                data-events="event31"
                                                href="https://help.shopdisney.com/hc/en-us/articles/115015912428-Contact-Us"
                                                title="">Contact Us</a></li>
                                        <li><a data-linkid="footer/footer_pages/column1/Site Map" data-events="event31"
                                                href="https://www.shopdisney.com/site-map.html" title="">Site Map</a>
                                        </li>
                                        <li><a data-linkid="footer/footer_pages/column1/New" data-events="event31"
                                                href="https://www.shopdisney.com/new-content/">New</a></li>
                                        <li><a data-linkid="footer/footer_pages/column1/Sale" data-events="event31"
                                                href="https://www.shopdisney.com/sale-content/">Sale</a></li>
                                    </ul>
                                </nav>

                                <nav>
                                    <ul style="width: 150px;">
                                        <li><a data-linkid="footer/footer_pages/column2/Order Tracking"
                                                data-events="event31" href="/order-status">Order Tracking</a></li>
                                        <li><a data-linkid="footer/footer_pages/column2/Return_Exchange"
                                                data-events="event31"
                                                href="https://help.shopdisney.com/hc/en-us/articles/115015826468-Returns-and-Exchanges">Return/Exchange</a>
                                        </li>
                                        <li><a data-linkid="footer/footer_pages/column2/Shipping Info"
                                                data-events="event31"
                                                href="https://help.shopdisney.com/hc/en-us/articles/115015826788-Shipping-Delivery">Shipping
                                                Info</a></li>
                                        <li><a data-linkid="footer/footer_pages/column2/Account Info"
                                                data-events="event31" href="/account">Account Info</a></li>
                                        <li><a data-linkid="footer/footer_pages/column2/Store Locator"
                                                data-events="event31" href="/store-locator">Store Locator</a></li>
                                        <!--<li><a data-linkid="footer/footer_pages/column2/Safety Recall" data-events="event31" href="https://www.shopdisney.com/stores-safety-recall.html">Safety Recall</a></li>-->
                                    </ul>
                                </nav>

                                <nav>
                                    <ul style="margin-left: 40px;width: 150px;">
                                        <li><a data-linkid="footer/footer_pages/column3/Gift Cards"
                                                data-events="event31"
                                                href="https://www.shopdisney.com/gift-cards.html">Disney Gift Cards</a>
                                        </li>
                                        <li><a data-linkid="footer/footer_pages/column3/Guest Services"
                                                data-events="event31" href="https://help.shopdisney.com/hc/en-us">Guest
                                                Services</a></li>
                                        <li><a data-linkid="footer/footer_pages/column3/Affiliates "
                                                data-events="event31" href="https://www.shopdisney.com/affiliates.html"
                                                title="">Affiliates</a></li>
                                        <li><a data-linkid="footer/footer_pages/column3/About" data-events="event31"
                                                href="https://www.shopdisney.com/about-us.html">About shopDisney</a>
                                        </li>
                                        <li><a data-linkid="footer/footer_pages/column3/Disney Visa Card"
                                                data-events="event31"
                                                href="https://www.shopdisney.com/disney-visa-card.html?CELL=63NG06"
                                                drvc-cc-desktop="63NG06" drvc-cc-mobile="63TH06" drvc-cc-app="6HS106"
                                                drvc-cc-track="" title=""
                                                drvc-orig-url="https://www.shopdisney.com/disney-visa-card.html">Disney®
                                                Visa® Card</a></li>
                                        <li><a data-linkid="footer/footer_pages/column3/Personalization Shop"
                                                data-events="event31"
                                                href="https://www.shopdisney.com/personalization/">Personalization
                                                Shop</a></li>
                                    </ul>
                                </nav>
                            </div> <!-- End content-asset -->
                        </div>
                    </div>
                </div>
            </div>

            <!-- 6. Following section does not appear below Large breakpoint -->
            <div class="footer-container row no-gutters">


                <div class="content-asset">
                    <!-- dwMarker="content" dwContentID="d15c8f5f444ea99bd0405de622" -->
                    <div class="copyright-container col-sm-12">
                        <nav>
                            <ul>
                                <li>© Disney, All Rights Reserved</li>
                                <li><a href="https://disneytermsofuse.com/" target="_blank">Terms of Use</a></li>
                                <li><a href="https://support.disney.com/hc/en-us/articles/360000829466-Legal-Notices"
                                        target="_blanks" title="">Additional Content Information</a></li>
                                <li><a href="https://privacy.thewaltdisneycompany.com/en/" target="_blank">Privacy
                                        Policy</a></li>
                                <li><a href="https://privacy.thewaltdisneycompany.com/en/current-privacy-policy/your-california-privacy-rights/"
                                        target="_blank">Your California Privacy Rights</a></li>
                                <li><a href="https://privacyportal-de.onetrust.com/webform/64f077b5-2f93-429f-a005-c0206ec0738e/0a4f1f0b-7130-421f-971d-ef578c0bce6d"
                                        target="_blank">Do Not Sell My Personal Information</a></li>
                                <li><a href="https://privacy.thewaltdisneycompany.com/en/for-parents/childrens-online-privacy-policy/"
                                        target="_blank">Children's Online Privacy Policy</a></li>
                                <li><a href="https://thewaltdisneycompany.com/?ppLink=pp_ds" target="_blank">About
                                        Disney</a></li>
                                <li><a href="https://preferences-mgr.truste.com/?aid=disneystore01&amp;pid=disney01&amp;type=disneystore"
                                        target="_blank">Interest-Based Ads</a></li>
                                <li><a href="https://www.thewaltdisneycompany.com/wp-content/uploads/2019/09/California-Transparency-in-Supply-Chains-Act.pdf"
                                        target="_blank" title="">California Transparency in Supply Chains Act</a></li>
                            </ul>
                        </nav>
                    </div>
                    <div class="content-asset">
                        <!-- dwMarker="content" dwContentID="4edef5c3892cda5c1f7c7c0f5c" -->
                        <style type="text/css">
                            #myVideoContainer-clp-halloween-video-buzz-1 .modal__video-dummy {
                                margin-top: 56.25%;
                            }

                            #myVideoContainer-plp-mb-halloween-video-kids-costumes-1 .modal__video-dummy {
                                margin-top: 28.12%;
                            }

                            #myVideoContainer-hp-tb-halloween-launch-video-081419-1 .modal__video-dummy {
                                margin-top: 38.75%;
                            }

                            #myVideoContainer-hp-tb-halloween-launch-video-081419-mobile-1 .modal__video-dummy {
                                margin-top: 119.5%;
                            }
                        </style>
                    </div>
                </div>
            </div>
        </div>
    </footer>